<!DOCTYPE html>
<html>
    <head>

   
    <title> SUBMIT SCHOOL REVIEW</title>
    <link rel=""stylesheet" href="https://cdn.jsdelivr.net/npm/bpptstrap@5.3.0/dist/css/bootstrap.min.css">
    </head>
    <body class ="container mt-5">
        <h2> Submit a School Review</h2>
        <form method ="post" action ="/submit">
        <div class ="mb-3">
            <label for="school", class="form_label"> School Name</label>
            <input type ="text" name="school" class="form_control" required>


        </div>
        <div class ="mb-3">
            <label for="rating", class="form_label"> Rating 1-5 </label>
            <input type ="text" name="rating" class="form_control" required>


        </div>
        ><div class="mb-3">
            <label for="review", class="form_label"> Review</label>
            <textarea ="review" name="school" class="form_control" required></textarea>

        </div>
        <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
    </body>
</html>