<!DOCTYPE html>
<html>
<head>
    <title>All School Reviews</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h2 class="mb-4">ALL SUBMITTED SCHOOL REVIEW</h2>
    <a href="/" class="btn btn-primary mb-4">SUBMIT ANOTHER REVIEW</a>

    {% if all_reviews %}
        <div class="row">
            {% for review in all_reviews %}
                <div class="col-md-6 mb-4">
                    <div class="card shadow-sm p-3">
                        <h5 class="card-title">{{ review[1] }} </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Submitted By: {{ review[4] }}</h6>
                        <small class="text-muted">Email:{{ review[5]}}</small><br>

                        <p class="card-text mt-2">
                            <strong>Rating:★ </strong>
                            {% for _ in range(review[2]|int) %} ★ 
                            {% endfor %}
                            {% for _ in range(5 - review[2]|int) %}
                            ☆{% endfor %}
                        </p>
                        <p class="card-text"><strong>Review:</strong> {{ review[3] }}</p>
                        <p class="card-text">
                            <small class="text-muted">Submitted on {{ review[6] }}</small>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No reviews yet!</p>
    {% endif %}
</body>
</html>